body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* styling nav-bar */

/* SLIDER PAGE styles */

/* features */

/* in the press section */
.press {
  margin-left: 12%;
}

/* contuct us */

/* footer section */
