body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main {
  padding-top: 65px;
}
/* styling nav-bar */

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.website {
  color: orange;
  font-style: italic;
}

nav {
  position: fixed;
  width: 100%;
  background-color: black;
}

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  padding: 0;
  text-align: right;
  margin: 0;
  transition: 1s;
  overflow: hidden;
  color: #fff;
  width: 90%;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: 1s;
}

nav ul li a:hover {
  color: orange;
}

.menu-icon {
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

/* navbar media  queries */
@media (max-width: 580px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}
/* styling nav-bar */

/* SLIDER PAGE styles */

/* features */

/* in the press section */
.press1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../images/gammer.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.press {
  margin-left: 12%;
}

.pressh1,
.card-title {
  /* font-size: 30px; */
  font-family: "Red Rose", cursive;
}

.pressh1 {
  color: white;
}

.games:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* contuct us */

/* footer section */

/* Extra About us page */
.gamers-rep {
  float: left;
}
