body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* styling nav-bar */
.logo:hover{
  background-color:rgb(97, 153, 155);
  cursor: pointer;
}

.logo>span{
  color:orange ; 
}

.navnav{
  background-color: rgb(132, 165, 165);  
}

ul>li{
  margin-right: 20px;
}

li:hover{
  background-color: green;
  border-radius: 50%;
}

/* SLIDER PAGE styles */


/* features */
.img1{
  width: 30%;
  height:40%;
  border-radius: 50px;  
}

/* in the press section */
.press {
  margin-left: 12%;
}

/* contuct us */

/* footer section */
